<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>
	<script type="text/javascript"src="js/myApp.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
<div ng-app="myApp" class="main container" ng-controller="statusCtrl">
    <div class="counter">
        <div class="minus"><p ng-click="position('minus')">-</p></div>
        <ul class="counter-indicator">
            <li class="counter-left" ng-class="{'selected':data.k==1}">&nbsp;</li>
            <li class="counter1" ng-class="{'selected':data.k==2}">&nbsp;</li>
            <li class="counter1" ng-class="{'selected':data.k==3}">&nbsp;</li>
            <li class="counter1" ng-class="{'selected':data.k==4}">&nbsp;</li>
            <li class="counter-right" ng-class="{'selected':data.k==5}">&nbsp;</li>
        </ul>
        <div class="plus"><p ng-click="position('plus')">+</p></div>
    </div>
    <br class="clear"/>
	<div  class="" id="flipper">
    	<div class="front face">
    	    <div class="border"></div>
    		<div ng-class="{'day': !isNight, 'night': isNight}">
    		</div>
    		<div>
    			<select ng-model="stat" ng-options="status.Name for status in allStatus" selected></select>
    		</div>
    		<div class="online-status" ng-class="{'offline': !data.online}"></div>
    		<div ng-switch on="stat.status">
    			<div class="pulse status-a-inactive" ng-hide="stat.status=='a'" ng-click="flip(true)"></div>
    			<div class="pulse status-a-active" ng-switch-when="a" ng-click="flip(true)"></div>
    			<div class="pulse status-b-inactive" ng-hide="stat.status=='b'" ng-click="flip(true)"></div>
    			<div class="pulse status-b-active" ng-switch-when="b" ng-click="flip(true)"></div>
    			<div class="rotate status-a-inactive" ng-hide="stat.status=='c'" ng-click="flip(true)"></div>
    			<div class="rotate status-a-active" ng-switch-when="c" ng-click="flip(true)"></div>
    			<div class="rotate status-b-inactive" ng-hide="stat.status=='d'" ng-click="flip(true)"></div>
    			<div class="rotate status-b-active" ng-switch-when="d" ng-click="flip(true)"></div>
    		</div>
    	</div>
    	<div class="back face" ng-click="flip(false)"></div>
	</div>
	<div class="name">
    	    <p>{{data.name}}</p>
    	</div>
</div>
</body>
=======
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>
	<script type="text/javascript"src="js/myApp.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div ng-app="myApp" class="main">
	<div ng-controller="statusCtrl">
	    <img class="border" ng-src="images/border.png" />
		<img class="night"ng-src="images/night.png" />
		<img class="online-status" ng-class="offline:data.online" ng-src="images/online-status.png" />
		<select ng-model="stat" ng-options="status.status as status.Name for status in allStatus">
        </select>
		<div ng-switch on="stat">
			<img class="pulse" ng-hide="stat=='a'" ng-src="images/status-a-inactive.png" />
			<img class="pulse" ng-switch-when="a" ng-src="images/status-a-active.png" />
			<img class="pulse" ng-hide="stat=='b'" ng-src="images/status-b-inactive.png" />
			<img class="pulse" ng-switch-when="b" ng-src="images/status-b-active.png" />
			<img class="rotate" ng-hide="stat=='c'" ng-src="images/status-a-inactive.png" />
			<img class="rotate" ng-switch-when="c" ng-src="images/status-a-active.png" />
			<img class="rotate" ng-hide="stat=='d'" ng-src="images/status-b-inactive.png" />
			<img class="rotate" ng-switch-when="d" ng-src="images/status-b-active.png" />
		</div>
	</div>
</div>
</body>
</html>